body{
    margin: 0px;
    font-family:'Bebas Neue', sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a , span {
    display: inline-block;
}
h1,p{
    margin: 0;
    font: 16px;
}
img{
    width: 100%;
}
.container{
    width: 70%;
    margin: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.red-t{
    color: #E7000B;
}
.blue-t{
    color: #165DFC;
}
.orange-t{color: #FF6900;}
.box-shadow{
    box-shadow: 4px 4px 1px black;
    border: 4px solid black;
}
html {
  scroll-behavior: smooth;
}
/* ------------------Navbar------------------------------- */
    .navbar{
        position: fixed;
        top:0;
        z-index: 1000;
        background-color: white;
        margin: auto;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 14px;
        left: 0;
        right: 0;
        margin: 25px 15%;
        padding: 10px 20px;
    }
    .navbar-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-middle img{
        height: 16px;
        width: 16px;
        margin: 0px 20px;
    }
    .navbar-middle a{
        transition: 0.2s;
    }
    .navbar-middle a:hover{
        color: #FF7A50;
    }
    .navbar-right button{
        background-color: #FFD15B;
        color: black;
        border: 2px solid black;
        border-radius: 14px;
        font-weight: bold;
        padding: 8px 16px;
        transition: 0.2s;
    }
    .navbar-right button:hover{
        transform: translate(3px,3px);
    }
    .navbar-right-new{
    display: none;
    }
    .navbar-right-new button{
        background-color: white;
        padding: 2px;
        height: 40px;
        width: 40px;
        font-size: 20px;
        transition: 0.2s;
    }
    .navbar-right-new button:hover{
        transform: translate(0,-3px);
    }
    
    @media screen and (max-width:1024px){
    .navbar-middle,.navbar-right{
        display: none;}
    .navbar-right-new{
        display:block;
    }
}
   


/* -----------------Hero Section------------------- */
.hero{
    padding: 30px;
    background-color: #FEF085;
    border: 1px solid black;
    position: relative;
    padding-top: 140px;
}
.hero-decor-l{
    height: 150px;
    width: 150px;
    background-color: #E5D878;
    position: absolute;
    top:50px;
    left: 50px;
    rotate: 10deg;
}
.hero-decor-r{
    height: 100px;
    width: 100px;
    background-color: #FFDF7E;
    position: absolute;
    top:100px;
    right:50px;
    rotate: -45deg;
}
.hero_content{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.hero_left{
    width: 50%;
}
.hero_right{
    width: 50%;
}
.hero_label{
    background-color: black;
    color: white;
    border: 5px solid black;
    width: fit-content;
    padding: 4px 10px;
    rotate: -5deg;
}
.hero_text{
    padding: 20px 0px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
}
.hero-des{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: lighter;
}
.hero-buttons{
    display: flex;
    gap: 10px;
}
.hero-buttons img{
    height: 20px;
    width: 20px;
    margin-right: 2px;
}
.hero-but1 button{
    background-color: black;
    color: white;
    font-size: bold;
    padding: 15px 30px;
    display: flex;
    transition: 0.2s;
    transform: translate(-3px, -3px);
}
.hero-but2 button{
    background-color: white;
    color: black;
    font-size: bold;
    padding: 15px 30px;
    display: flex;
    transition: 0.2s;
    transform: translate(-3px, -3px);
}
.hero-but1 span, .hero-but2 span{
    font-size: 20px;
    font-weight: bold;
}
.hero-but1 button:hover , .hero-but2 button:hover{
    box-shadow: 0 0 0;
    transform: translate(0px,0px);
}
.hero-img{
    overflow: hidden;
    height: 390px;
    display: flex;
    align-items: center;
    rotate: 5deg;
    transition: 0.2s;
}
.hero-img:hover{
    transform: translate(-2px,-2px);
}
.inner-content-r{
    position: relative;
}
.hero-img-label{
    background-color: #FB2B37;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -20;
    padding: 5px 20px;
    z-index: 100;
    rotate: 10deg;
}
@media screen and (max-width:1024px){
    .hero_content{
        flex-wrap: wrap;
    }
    .hero_left , .hero_right{
        width: 100%;
    }
    .container{
        width: 95%;
    }
}

/* ----------------Articles Section--------------------------- */
.articles{
    border: 1px solid black;
    padding: 20px 0px;
}
.articles-content{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: first baseline;
}
.articles-l{
    width: 65%;
}

.articles-l-h{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articles-l-header{
    font-size: 50px;
}
.articles-l-label{
    background-color: black;
    color: white;
    border: 5px solid black;
    width: fit-content;
    padding: 4px 10px;
    rotate: 2deg;
}
.articles-r{
    width: 35%;
    position: sticky;
    top: 100px;
}
.article-1{
    padding: 32px;
    transition: 0.2s;
    margin-bottom: 30px;
}
.article-1:hover{
    transform: translate(-3px,-3px);
}
.article-img{
    width: 350px;
    height: fit-content;
    border: 2px solid black;
    position: relative;
}
.img-1-label{
    position: absolute;
    top: -15;
    right: -10;
    rotate:10deg;
    background-color: #FB2B37;
    color: white;
    padding: 2px 6px;
    border: 2px solid black;
}
.img-2-label{
    position: absolute;
    top: -15;
    right: -10;
    rotate:-10deg;
    background-color: #2B7FFF;
    color: white;
    padding: 2px 6px;
    border: 2px solid black;
}
.img-3-label{
    position: absolute;
    top: -15;
    right: -10;
    rotate:45deg;
    background-color: #AD46FF;
    color: white;
    padding: 2px 6px;
    border: 2px solid black;
}
.inner-article-1{
    display: flex;
    gap: 30px;
}
.article-1-label{
    background-color: #FFE020;
    rotate: -2deg;
    width: fit-content;
    padding: 2px 10px;
}
.article-2-label{
    background-color: #7AF2A8;
    rotate: -2deg;
    width: fit-content;
    padding: 2px 10px;
}
.article-3-label{
    background-color: #FDA5D5;
    rotate: -2deg;
    width: fit-content;
    padding: 2px 10px;
}
.article-content-head h4{
    font-size: 28px;
    margin: 8px 0px ;
    font-family:sans-serif;
    padding: 10px 0px;
    transition: 0.2s;
}
.article-1:hover .article-content h4{
    color: #E7000B;}
.article-1:hover .la2 h4{
    color: #165DFC;}
.article-1:hover .la3 h4{
    color: #990FFA;}

.article-content-head p{
    font-family: sans-serif;
    line-height: 28px;
}
.article-footer{
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-name , .footer-time , .footer-date , .footer-likes{
    display: flex;
}
.article-footer img{
    height: 24px;
    width: 24px;
}
.footer-likes{
    color: #E7000B;
}
.articles-load{
    display: flex;
    justify-content: center;

}
.articles-load button{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    font-weight: bold;
    transition: 0.2s;
    transform: translate(-3px,-3px);
}
.articles-load button:hover{
    box-shadow: 0 0;
    transform: translate(0,0);

}
.trending{
    padding: 24px;
    margin-bottom: 30px;
}
.trending-1, .trending-2, .trending-3{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}
.trending h3,.categories h3{
    font-size: 42px;
    margin: 0;
    padding: 25px 0;
}
.trending h4{
    font-size: 24px;
    margin: 0;
    font-family: sans-serif;
}
.trend-num{
    font-size: 48px;
    font-weight: bold;
    color: #FB2B37;
}
.trending-2 .trend-num{
    color: #2B7FFF;
}
.trending-3 .trend-num{
    color: #AD46FF;
}
.trend-head p{
    color: #525252;
    font-family: sans-serif;
    font-size: 16px;
    
}
.categories{
    padding:24px;
}
.categories h5{
    font-size: 28px;
    margin:8px 0;
    padding: 8px;
}
.cat1{
    background-color: #FFF9C2;
    border: 2px solid black;
    margin-bottom: 8px;
    transition: 0.2s;
}
.cat1:hover{
    transform: translate(-3px,-3px);
    box-shadow: 3px 3px 1px black;
    background-color: #FFE020;
}
.cat2{
    background-color: #DCFCE6;
    border: 2px solid black;
        margin-bottom: 8px;
            transition: 0.2s;
}
.cat2:hover{
    transform: translate(-3px,-3px);
    box-shadow: 3px 3px 1px black;
    background-color: #7AF2A8;
}
.cat3{
background-color: #FCE7F4;
border: 2px solid black;
    margin-bottom: 8px;
        transition: 0.2s;
}
.cat3:hover{
    transform: translate(-3px,-3px);
    box-shadow: 3px 3px 1px black;
    background-color: #FDA5D5;
}
.cat4{
background-color: #DBEAFF;
border: 2px solid black;
    margin-bottom: 8px;
        transition: 0.2s;
}
.cat4:hover{
    transform: translate(-3px,-3px);
    box-shadow: 3px 3px 1px black;
    background-color: #8EC5FF;
}
.cat5{
background-color: #F3E7FF;
border: 2px solid black;
    margin-bottom: 8px;
        transition: 0.2s;
}
.cat5:hover{
    transform: translate(-3px,-3px);
    box-shadow: 3px 3px 1px black;
    background-color: #DAB2FF;
}
@media screen and (max-width:1024px){
    .articles-content{
        flex-wrap: wrap;
    }
    .articles-l , .articles-r{
        width: 100%;
    }
}
/* --------------------Authors Section-------------------------- */
.authors{
    border: 2px solid black;
    background-color: #FFD230;
    padding: 60px 0;
    position: relative;
}
.authors-head{
    text-align: center;
}
.authors-head h2{
    font-size: 64px;
    margin: 8px 0;
}
.authors-head p{
    font-family: sans-serif;
    color: #525252;
}
.authors-head p::after {
  content: ' ';
  display: block;
  width: 150px;
  height: 8px;
  background-color: #000;
  margin: 16px auto;
  rotate: 1deg;
}
.authors-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.author-card1{
    background-color: #FFF9C2;
    width: 33.33%;
    text-align: center;
    padding: 24px;
    transition: 0.2s;
    position: relative;
}
.author1-label{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 4px 8px;
    rotate: 7deg;
    background-color: #FB2B37;
    color: white;
    border: 1px solid black;
}
.author2-label{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 4px 8px;
    rotate: -7deg;
    background-color: #2B7FFF;
    color: white;
    border: 1px solid black;
}
.author3-label{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 4px 8px;
    rotate: 15deg;
    background-color: #AD46FF;
    color: white;
    border: 1px solid black;
}
.author-card1:hover{
    transform: translate(-3px,-3px);
}
.author-card2:hover{
    transform: translate(-3px,-3px);
}
.author-card3:hover{
    transform: translate(-3px,-3px);
}
.author-card2{
    background-color: #DCFCE6;
    width: 33.33%;
        text-align: center;
    padding: 24px;
    transition: 0.2s;
    position: relative;
}
.author-card3{
    background-color: #FCE7F4;
    width: 33.33%;
    text-align: center;
    padding: 24px;
    transition: 0.2s;
    position: relative;
}
.author-img img{
    height: 120px;
    width: fit-content;
    border: 2px solid black;
}
.author-name h2{
    margin: 12px 0;
    font-size: 42px;
    transition: 0.2s;
}
.author-card1:hover .author-name h2{
    color: #E7000B;
}
.author-card2:hover .author-name h2{
    color: #165DFC;
}
.author-card3:hover .author-name h2{
    color: #990FFA;
}
.author-name h5{
    color: #525252;
    margin: 2px 0;
    font-family: sans-serif;
}
.author-name p{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 12px;
}
.author-links{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.author-link1,.author-link2,.author-link3{
    padding: 12px;
    background-color: black;
    transition: 0.2s;
}
.author-links img{
    width: 24px;
    height: 24px;
}
.author-link1:hover{
    background-color: #1DA1F2;
    box-shadow: 4px 4px 1px black;
    transform: translate(-3px,-3px);
}
.author-link2:hover{
    background-color: #165DFC;
        box-shadow: 4px 4px 1px black;
    transform: translate(-3px,-3px);
}
.author-link3:hover{
    background-color:#E60076 ;
    box-shadow: 4px 4px 1px black;
    transform: translate(-3px,-3px);
}
.authors-decor-top{
    position: absolute;
    top: 100px;
    right: 70px;
    height: 150px;
    width: 150px;
    background-color: #E6BD2C;
    rotate: 45deg;
}
.authors-decor-bot{
    position: absolute;
    bottom: 100px;
    left: 50px;
    height: 100px;
    width: 100px;
    background-color: #FFC232;
    rotate: -25deg;
    
}
@media screen and (max-width:1024px){
    .authors-cards{
        flex-wrap: wrap;
    }
    .author-card1 , .author-card2,.author-card3{
        width: 100%;
    }
}
/* -------------------Rebellion Section----------------- */
.rebel{
    padding: 60px 0px;
    border: 2px solid black;
}
.rebel-head{
    text-align: center;
}
.rebel-head h2{
    font-size: 64px;
    margin: 8px 0;
}
.rebel-head p{
    font-family: sans-serif;
    color: #525252;
}
.rebel-head p::after {
  content: ' ';
  display: block;
  width: 150px;
  height: 8px;
  background-color: #000;
  margin: 16px auto;
  rotate: -1deg;
}
.rebel-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 40px 0px;
}
.rebel-left{
    width: 50%;
}
.rebel-right{
    width: 50%;
}
.rebel-left h3{
font-size: 54px;
margin:30px 0px;
}
.rebel-l-text{
    padding: 32px;
}
.rebel-l-text p{
    font-size: 24px;
    font-family: sans-serif;
}
.rebel-l-check{
    padding: 20px 0px;
    font-size: 22px;
}
.rebel-l-check img{
    width: 24px;
    height: 24px;
}
.check-content1{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}
.check-content1 .check-num{
    background-color: #FB2B37;
    width: fit-content;
    border: 2px solid black;
    padding: 8px;
}
.check-content2{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}
.check-content2 .check-num{
    background-color: #2B7FFF;
    width: fit-content;
    border: 2px solid black;
    padding: 8px;
}
.check-content3{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}
.check-content3 .check-num{
    background-color: #AD46FF;
    width: fit-content;
    border: 2px solid black;
    padding: 8px;
}
.check-content4{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}
.check-content4 .check-num{
    background-color: #00C951;
    width: fit-content;
    border: 2px solid black;
    padding: 8px;
}
.join_now_button img{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}
.join_now_button button{
    background-color: black;
    color: white;
    transform: translate(-3px,-3px);
    transition: 0.2s;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 16px;
    font-family: sans-serif;
}
.join_now_button button:hover{
    transform: translate(0px,0px);
    box-shadow: 0px 0px;
}
.rebel-right{
    padding: 20px;
}
.rebel-right h3{
    font-size: 50px;
    margin: 30px 0;
}
.rebel-card1{
    border: 2px solid black;
    background-color: #FEF2F3;
    padding: 20px;
    margin-bottom: 20px;
}
.rebel-card2{
    border: 2px solid black;
    background-color: #EEF6FF;
    padding: 20px;
    margin-bottom: 20px;
}
.rebel-card3{
    border: 2px solid black;
    background-color: #FAF5FF;
    padding: 20px;
    margin-bottom: 20px;
}
.rebel-cards p{
    margin: 10px 0;
    font-size: 24px;
}
.rebel-cards img{
    height: 48px;
    width: 48px;
    border: 2px solid black;
    margin-right: 10px;
}
.rebel-sign{
    display: flex;
    align-items: center;
}
.sign-text h5{
margin: 0;
font-size: 24px;
} 
.sign-text p{
margin: 0;
font-family: sans-serif;
font-size: 14px;
}
@media screen and (max-width:1024px){
    .rebel-content{
        flex-wrap: wrap;
    }
    .rebel-left,.rebel-right{
        width: 100%;
    }
}
/* -----------------Footer Section------------ */
.footer{
    background-color: #000000;
    color: white;
    padding: 40px 0px;
}
.footer-content{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-left{
    width: 40%;
}
.footer-middle{
    width: 20%;
}
.footer-right{
    width: 40%;
}
.footer-l-head{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-l-head h2{
    font-size: 48px;
}
.footer-left p{
    font-family: sans-serif;
    font-size: 24px;
}
.footer-left img{
    width: 48px;
    height: 48px;
}
.footer-l-img{
    background-color: white;
    padding: 10px;
}
.footer-middle h3{
    font-size: 40px;
    margin: 20px 0;
}
.footer-right h3{
    font-size: 40px;
    margin: 20px 0;
}
.footer-right p{
    font-family: sans-serif;
    font-size: 24px;
    margin: 10px 0;
}
.footer-middle a{
    color: white;
    padding: 10px 0px;
    font-size: 26px;
    transition: 0.2s;
}
.footer-middle a:hover{
    color: #FFE020;
}
.footer-right input{
    margin: 20px 0;
    background-color: black;
    color: #A1A1A1;
    border: 1px solid white;
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.footer-right button{
    text-align: center;
    width: 100%;
    background-color: #FFE020;
    padding: 20px;
    font-size: 24px;
    font-family:'Bebas Neue', sans-serif ;
    transform: translate(-3px,-3px);
    transition: 0.2s;
}
.footer-right button:hover{
    transform: translate(0px,0px);
    background-color: #FDC800;
}
.foot-footer{
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
}
.foot-footer-2 a{
    transition: 0.2s;
    margin-right: 10px;
    color: white;
}
.foot-footer-2 a:hover{
    color: #FFE020;;
}

@media screen and (max-width:1024px){
    .footer-content{
        flex-wrap: wrap;
    }
    .footer-left , .footer-middle,.footer-right{
        width: 100%;
    }
}

